{
  "extends": ["airbnb", "eslint-config-prettier"],
  "plugins": ["import", "react"],
  "overrides": [],
  "rules": {
    "react/jsx-filename-extension": [
      "warn",
      {
        "extensions": [".jsx", ".js"]
      }
    ],
    "import/prefer-default-export": "off",
    "no-param-reassign": "off",
    "react/jsx-one-expression-per-line": "off",
    "react/jsx-props-no-spreading": "off",
    "react/forbid-prop-types": "off"
  },
  "env": {
    "browser": false
  }
}
