{
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": ["import", "jsx-a11y", "react", "react-hooks", "prettier"],
  "extends": ["airbnb", "eslint-config-prettier", "prettier"],
  "rules": {
    "prettier/prettier": "error",
    "react/jsx-filename-extension": [
      "warn",
      {
        "extensions": [".jsx", ".js"]
      }
    ],
    "import/prefer-default-export": "off",
    "no-param-reassign": "off",
    "react/jsx-one-expression-per-line": "off",
    "react/jsx-props-no-spreading": "off",
    "react/forbid-prop-types": "off",
    "react/jsx-fragments": "off"
  },
  "env": {
    "browser": true,
    "jest": true,
    "node": true
  }
}
