.theme {
  background-color: #ffffff;
  border-radius: 5px;
  margin: 24px 0;
  padding: 1rem;
}

.theme-title {
  margin: 0;
  padding: 0;
  border: none;

  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  line-height: 28px;
  color: #13131a;
}

.theme-description {
  margin: 0;
  padding: 15px 0;
  font-size: 16px;
  line-height: 26px;
}

.links {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.links a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  margin-right: 16px;
  text-decoration: none;
  color: #7159c1;
  text-transform: uppercase;
  background: transparent;
  border-radius: 5px;
  font-size: 12px;
  transition: all 200ms ease-in-out;
  border: 2px solid #7159c1;
}

.links a:hover {
  background-color: #7159c1;
  border: 2px solid transparent;
  color: #ffffff;
}
